.card__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }
  
.details {
  background-color: white;
  opacity: 0.8;
}

p {
  margin-left: 5px;
}

h3 {
  margin-left: 5px;
}