@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;

  /* Colors */
  --cold-grey-80: #37383c;
  --cold-grey-40: #9a9ea5;
  --cold-grey-30: #b1b5bb;
  --color-white: #fff;
}
