.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #7149c6;
  color: #fff;
  padding: 2px;
  /* position = fixed; */
  width: 100%;
  z-index: 1;
}

.AppNewLogo {
  height: 50px;
  width: 50px;
  margin-top: 2px;
  margin-left: 32px;
  margin-right: 0px;
}

.navbar-logo a {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.navbar-links li {
  display: inline-block;
  margin-right: 10px;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
}

.navbar-text {
  color: #fff;
  text-align: left;
  margin-right: auto;
}

.navbar-button {
  background-color: #7a7cff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.metamask-button {
  background-color: #7a7cff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-search {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 600px;
}

.navbar-search-input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  width: 600px;
  margin-right: 128px;
}

.navbar-button:hover {
  background-color: #2f0f5d;
}

.metamask-button:hover {
  background-color: #2f0f5d;
}

/* Small screens */
@media (max-width: 767px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar-logo {
    flex-basis: 100%;
    text-align: center;
  }

  .navbar-search {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbar-search-input {
    width: 100%;
  }

  .navbar-links {
    flex-basis: 100%;
    text-align: center;
    margin-right: 0;
  }
}

/* Medium and larger screens */
@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar-logo {
    flex-basis: auto;
    text-align: left;
  }

  .navbar-search {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .navbar-search-input {
    width: 400px;
  }

  .navbar-links {
    flex-basis: auto;
    text-align: right;
    margin-right: 0;
  }

  .navbar-login {
    background-color: #7a7cff;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-login-name {
    margin-left: 10px;
  }

  .navbar-login-button {
    background-color: #7a7cff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 6px;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .navbar-login-button:hover {
    background-color: #2f0f5d;
  }

  .navbar-logout-button {
    background-color: #7a7cff;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .navbar-logout-button:hover {
    background-color: #2f0f5d;
  }

  .navbar-login-picture {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    display: inline-block;
  }
}
