.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7149C6;
    color: #fff;
    padding: 10px;
    position: fixed;
    z-index: 9999; 
    top: 0;
    left: 0;
  }

  body{
    padding-top: 50px;
  }
  
  .navbar-logo a {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-text {
    color: #fff;
    text-align: left;
    margin-right: auto;
  }
  
  .navbar-button {
    background-color: #7A7CFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .metamask-button {
    background-color: #7A7CFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .navbar-search-input {
    padding: 10px;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    width: 400px;
    margin-right:128px;
    
  }
  
  .navbar-button:hover{
    background-color: #2F0F5D;
  }

  .metamask-button:hover{
    background-color: #2F0F5D;
  }