.cards {
  padding: 1px;
  margin: 2rem;
  border-radius: 1px;
  max-width: 570px;
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__frame {
  display: flex;
  flex-flow: column;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  position: static;
  bottom: 100px;
  margin-left: 10px;
  padding: 6px 8px;
  font-size: 20px;
  font-weight: 700;
  color: #7149c6;
  background-color: #fff;
}

.card__item__pic {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  border-radius: 10px;
}

.card__item__pic:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.cards__item__info {
  padding: 20px 30px 30px;
}
