.nft-carusela {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
  border: 2px solid #7149c6;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  overflow: hidden;
}

.nft-carusela-slider {
  margin-top: 0px; /* or any negative value you prefer */
  cursor: grab;
  max-height: 100%;
  max-width: 100%;
  scroll-snap-type: x mandatory; /* mendatory */
  scroll-behavior: smooth; /* mendatory */

}

.nft-carusela-cards {
  margin-bottom: 50px;
  /* background-color: green; */
  gap: 30px;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  margin: 1rem;
  padding-left: 40px;
  margin-left: -6px;
}

.nft-carusela-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 16px;
  margin-left: 0px;
  padding: 16px;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.nft-carusela__arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #7149c6;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}

.nft-carusela__arrow--next {
  margin-top: -48px;
  right: -15px;
}

.nft-carusela__arrow--prev {
  margin-top: -48px;
  left: 15px;
}

.nft-carusela__arrow:hover {
  color: #930be2;
}

.slick-next::before,
.slick-prev::before {
  content: none;
}

.nft-items{
   display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}