.nft-details-container {
  display: inline-block;
  flex-flow: column;
  align-items: left;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #7149c6;
  border-radius: 1rem;
   box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.nft-details-header {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.nft-name {
  display: flex;
  flex-flow: column;
  align-items: left;
  text-align: left;
  color: #7149c6;
  margin: 15px;
}

.nft-profile-img {
  border-radius: 50%;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nft_name {
  font-size: 18px;
}

.creator-name{
    margin: 15px;
    margin-bottom: 5px;
}

.nft-description{
  margin: 15px;
  font-size: 20px;
}